.input-file {
    position: relative;
    cursor: pointer !important;
}

.input-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#main-info {
    width: 60%;
    margin: 10px auto 0 auto;
}

#file-info,
#show-unique-words-wrap,
#result-table,
#upload-second-file-wrap {
    display: none;
}

#file-info {
    font-size: 18px;
    font-weight: bold;
}

#file-info #file-info-main span:not(:first-child) {
    margin-left: 10px;
}

#result-table {
    margin-top: 5px;
}

#result-table td, #result-table th {
    width: 33.3%;
}

#result-table th {
    text-align: center;
}
